# UNIX alias
alias c='clear'

# Sublime Text alias
alias st='reattach-to-user-namespace subl'

# Atom alias
alias atm='reattach-to-user-namespace atom'

# git alias
alias gd='git diff'
alias gbd='git branch -D'
alias gcam='git commit -am'

# git alias for staging branch
alias gcs='git checkout staging'
alias gspull='git pull origin staging'
alias gps='git pull-request -b staging -m'

# tree structure
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# progate csv alias
alias ria='rails runner LessonData.import_all'