# UNIX alias
alias c='clear'

# Sublime Text alias
alias st='reattach-to-user-namespace subl'

# Atom alias
alias at='reattach-to-user-namespace atom'

# git alias
alias gd='git diff'
alias gbd='git branch -D'
alias gcam='git commit -am'

# git alias for staging branch
alias ginit='git init && git add . && git commit -am "Initial commit"'
alias gspull='git pull origin staging'
alias gcs='git checkout staging && git pull origin staging && git fetch -p origin'
alias gps='git pull-request -b staging -m'

# tree structure
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# progate csv alias
alias ria='rails runner LessonData.import_all'