# User configuration
export PATH="/Users/michimin/.rbenv/shims:/Users/michimin/.rbenv/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin"

## rbenv
export PATH="$HOME/.rbenv/shims:$PATH"

## nodebrew
export PATH="$HOME/.nodebrew/current/bin:$PATH"

## pyenv
export PYENV_ROOT=${HOME}/.pyenv
if [ -d "${PYENV_ROOT}" ]; then
  export PATH=${PYENV_ROOT}/bin:$PATH
  eval "$(pyenv init -)"
  eval "$(pyenv virtualenv-init -)"
fi

## Added by the Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

## Place where you save history
export HISTFILE=${HOME}/.zsh_history

## maximum number of history saved in memory
export HISTSIZE=1000

export HISTCONTROL="ignoredups"

## locale
export LC_CTYPE=en_US.UTF-8
