[core]
    pager = less -q -R
    excludesfile = /Users/michiminstar/.gitignore_global
    preloadindex = true
    editor = atom --wait
    mergeoptions = --no-edit

[color]
    ui = auto

[alias]
    t  = typechange
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    ## Update the master branch to the latest and delete the old one.
    sync = !git checkout staging && git pull origin staging && git fetch -p origin && git branch -d $(git branch --merged | grep -v staging | grep -v '*')
    logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'

[help]
    autocorrect = 1

[push]
    # Use the Git 1.x.x default to avoid errors on machines with old Git
    # installations. To use `simple` instead, add this to your `~/.extra` file:
    # `git config --global push.default simple`. See http://git.io/mMah-w.
    default = current

[user]
  name = Michi Kanda
  email = michi.kanda.0513@gmail.com

[pager]
    log  = diff-highlight | less -RX
    show = diff-highlight | less -RX
    diff = diff-highlight | less -RX

[diff]
    tool      = vimdiff
    algorithm = histogram
	compactionHeuristic = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[ghq]
    root = ~/src
